# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.dart_tool/
.ck/
.gemini
.qoder
.openspec
openspec
.github/prompts
build/
.codex*/
.idea/
.vscode/
*.iml
liquid_grammar.iml
.idea
.pub-cache
.tooling

# Flutter build artifacts
**/build/
**/ephemeral/
**/*.xcconfig
**/GeneratedPluginRegistrant.*
**/local.properties
**/flutter_export_environment.sh