name: Flutter

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  test:
    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        channel: [ stable, beta ]

    steps:
      - uses: actions/checkout@v6.0.0

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: ${{ matrix.channel }}
          cache: true

      - name: Flutter version
        run: flutter --version

      - name: Install dependencies
        run: flutter pub get
        working-directory: pkgs/liquify_flutter

      - name: Check formatting
        run: dart format --output=none --set-exit-if-changed .
        working-directory: pkgs/liquify_flutter

      - name: Analyze
        run: flutter analyze
        working-directory: pkgs/liquify_flutter

      - name: Run tests
        run: flutter test
        working-directory: pkgs/liquify_flutter
